---
---

@import "{{ site.theme }}";

#header_wrap {
    background:#FF6D00;
    background:-moz-linear-gradient(top, #FF6D00, #FB9A44);
    background:-webkit-linear-gradient(top, #FF6D00, #FB9A44);
    background:-ms-linear-gradient(top,#FF6D00, #FB9A44);
    background:-o-linear-gradient(top, #FF6D00, #FB9A44);
    background:linear-gradient(to bottom, #FF6D00, #FB9A44)
   }