---
---

@import "{{ site.theme }}";

#header_wrap {
    background:#FF6D00;
    background:-moz-linear-gradient(bottom, #FF6D00, #FB9A44);
    background:-webkit-linear-gradient(bottom, #FF6D00, #FB9A44);
    background:-ms-linear-gradient(bottom,#FF6D00, #FB9A44);
    background:-o-linear-gradient(bottom, #FF6D00, #FB9A44);
    background:linear-gradient(to bottom, #FF6D00, #FB9A44)
   }

#forkme_banner {
    display:block;
    position:absolute;
    top:0;
    right:10px;
    z-index:10;
    padding:10px 50px 10px 10px;
    color:#fff;
    background:url("../images/blacktocat.png") #474745 no-repeat 95% 50%;
    font-weight:700;
    box-shadow:0 0 10px rgba(0,0,0,0.5);
    border-bottom-left-radius:2px;
    border-bottom-right-radius:2px
   }

#footer_wrap {
    background:#474745
   }

#pagetabs {
    display:block;
    position:absolute;
    bottom:0;
    right:10px;
    z-index:10;
    padding:10px 50px 10px 10px;
    color:#fff;
    background:url("../images/blacktocat.png") #474745 no-repeat 95% 50%;
    font-weight:700;
    box-shadow:0 0 10px rgba(0,0,0,0.5);
    border-bottom-left-radius:2px;
    border-bottom-right-radius:2px
   }